<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="actor" class="com.stackroute.domain.Actor" >
    <constructor-arg name="name" index="0" type="java.lang.String" value="harika"></constructor-arg>
    <constructor-arg name="gender" index="1" type="java.lang.String" value="female"></constructor-arg>
    <constructor-arg name="age" index="2" type="int" value="1"></constructor-arg>

</bean>


    <bean name="movie,movie1" class="com.stackroute.domain.Movie" scope="prototype" autowire="byName">


    </bean>
</beans>